<!-- Selecteur d'agence -->
<select [(ngModel)]="selectedAgence" (change)="agenceChanging(selectedAgence)">
  <option *ngFor="let agence of listAgences" [value]="agence">
    {{ agence }}
  </option>
</select>

<h2>Archives</h2>

<!-- Tabs -->
<ul class="nav nav-tabs">
  <li [ngClass]="{ active: tab === 1 }" (click)="onTabChange(1)">
    <a href="#">Factures</a>
  </li>
  <li [ngClass]="{ active: tab === 2 }" (click)="onTabChange(2)">
    <a href="#">Fiches de paie</a>
  </li>
</ul>

<div [ngSwitch]="tab">
<div *ngSwitchCase="1" class="tables">
  <table>
    <thead>
      <tr class="categories">
        <th>Entreprise</th>
        <th>Période</th>
        <th>Facture</th>
      </tr>
      <tr class="categoriesIcons">
        <th>
          <button (click)="filteredSearch('Fact')">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <input
            class="search-bar"
            [(ngModel)]="searchQueryFactures"
            (input)="filteredSearch('Fact')"
            type="text"
            placeholder="Recherche"
          />
        </th>

        <th>
          <mat-form-field appearance="fill" class="month-filter">
            
            <select matNativeControl [(ngModel)]="selectedMonthYear" (change)="onMonthYearChange()">
              <option value="">-- Tous les mois --</option>
              <option *ngFor="let option of monthYearOptions" [value]="option">{{ option }}</option>
            </select>
          </mat-form-field>
          
        </th>
        <th><i class="fa-solid fa-file-arrow-down"></i></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of newFilteredList" class="items">
        <td>{{ item.tiersName }}</td>
        <td>{{ item.dateFile | date: 'dd.MM.yyyy' }}</td>
        <td class="btnsDandU">
          <a class="btnDandU" [href]="getBlobUrl(item.docFile)" target="_blank">Ouvrir</a>
          <a class="btnDandU"
   href="#"
   (click)="openPdf(item.docFile); $event.preventDefault()">
   Ouvrir
</a>
          <a class="btnDandU" [href]="getBlobUrl(item.docFile)" [attr.download]="item.tiersName + item.date + '.pdf'" target="_blank">Télécharger</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Onglet Fiches de paie -->
<div *ngSwitchCase="2" class="tables">
  <table>
    <thead>
      <tr class="categories">
        <th>Intérimaire</th>
        <th>Période</th>
        <th>Fiche de paie</th>
      </tr>
      <tr class="categoriesIcons">
        <th>
          <button (click)="filteredSearch('Paie')">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <div class="search-bar">
            <input [(ngModel)]="searchQueryFiches" (input)="filteredSearch('Paie')" type="text" placeholder="Recherche" />
          </div>
        </th>
        <th>
          <mat-form-field appearance="fill" class="month-filter">
            <mat-label>Trier par mois</mat-label>
            <select matNativeControl [(ngModel)]="selectedMonthYear" (change)="onMonthYearChange()">
              <option value="">-- Tous les mois --</option>
              <option *ngFor="let option of monthYearOptions" [value]="option">{{ option }}</option>
            </select>
          </mat-form-field>
          
        </th>
        <th><i class="fa-solid fa-file-arrow-down"></i></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of newFilteredList" class="items">
        <td>{{ item.tiersName }}</td>
        <td>{{ item.dateFile | date: 'dd.MM.yyyy' }}</td>
        <td class="btnsDandU">
          <a class="btnDandU" [href]="getBlobUrl(item.docFile)" target="_blank">Ouvrir</a>
          <a class="btnDandU" [href]="getBlobUrl(item.docFile)" download="document.pdf" target="_blank">Télécharger</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>